/* 
The CSS in this file can be used for all separate html files since the html in the separate parts will be embedded into the html in index.html
*/

/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Header Styles */
.navbar{
  top:0;
}


/* Footer Styles */

/* Footer Styles */
