<!--Very standard navigation bar as described by w3schools-->
<nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#/all">All albums</a></li>
                <li><a href="#/albums">My albums</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/about">About</a></li>
                <li><a href="#/contact">Contact</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">My account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/manage">Manage account</a></li>
                        <li><a href="#/logout">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>